<main class="py-5">
    <section class="mb-5">
         <form [formGroup]="userForm" (ngSubmit)="editUser()">
            <div class="container">
                <h3 class="mb-3">Edit Student</h3>
                <div class="bg-light p-4">
                    <div class="row">                                                                         
                        <div class="col-lg-4">
                            <label for="">First Name</label>
                            <input type="text" name="firstname" formControlName="firstname" class="form-control form-control-ml" required value="">
                        </div>

                        <div class="col-lg-4">
                            <label for="">Last Name</label>
                            <input type="text" name="lastName" formControlName="lastname"  class="form-control form-control-ml" required value="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <label for="">Email</label>
                            <input type="email" name="email" formControlName="email" class="form-control form-control-ml" required value="">
                        </div>

                        <div class="col-lg-8">
                            <label for="">country</label>
                            <input type="text" name="address" formControlName="country"  class="form-control form-control-ml" required value="">
                        </div>
                    </div> 
                    
                    <hr class="mb-4">
                    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid" >Edit</button>                    
                </div>
            </div>
         </form>
    </section>
</main>
